body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    user-select: none;
}

#Player{
    width: 100vw;
    height: 100vh;
    background: conic-gradient(rgb(169, 138, 255), rgb(0, 191, 255),rgb(0, 2, 90));/**/
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 100;
    transition: .5s;
}

#container{
    width: 300px;
    height: 500px;
    background-color: rgba(245, 245, 245, 0.432);
    border: 3px solid rgba(0,0,0,0.312);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    backdrop-filter: blur(10px) ;
}

.coverImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto 50px;
    border-radius: 50%;
    outline: 5px solid rgba(0,0,0,0.312);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coverImage{
    width: 80px;
}

@keyframes rotate {
    to{
        rotate: 360deg;
    }
}

#controls{
    width: 300px;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.13);
    margin: 0;padding: 0;
}

.playPause{
    width: 50px;
    height: 50px;
    border: 1px solid dodgerblue;
    border-radius: 50% ;
    background-color: white;
    filter: hue-rotate(110deg);
    scale: 150%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}

.next{
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    border-radius: 50% ;
    /* background-color:dodgerblue; */
    filter:hue-rotate(120deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}

.disableState{
    opacity: 50%;
    pointer-events: none;
}

.previous{
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    border-radius: 50% ;
    /* background-color:dodgerblue; */
    filter:hue-rotate(120deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}

.next img{
    width: 20px;
    filter: invert();
}

.previous img{
    width: 20px;
    filter: invert();
}

.next:hover{
    border-color: white;
    filter:drop-shadow(0 0 10px rgb(56,56,56)) hue-rotate(120deg);
}

.next:active{
    scale: 90%;
    filter:drop-shadow(0 0 10px black) hue-rotate(120deg);
}

.previous:hover{
    border-color: white;
    filter:drop-shadow(0 0 10px rgb(56,56,56)) hue-rotate(120deg);
}

.previous:active{
    scale: 90%;
    filter:drop-shadow(0 0 10px black) hue-rotate(120deg);
}

.playPause:hover{
    filter:drop-shadow(0 0 10px rgb(56, 56, 56)) hue-rotate(110deg);
}

.playPause:active{
    scale: 130%;
    filter:drop-shadow(0 0 10px black) hue-rotate(110deg) saturate(150%);
}

.playPause img{
    width: 20px;
}

.slider{
    display: flex;
    align-items: center;
    position: relative;
}

.slider #progress{
    width: 220px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    /* border: 1px solid white; */
    appearance: none;
    cursor: pointer;
    margin-right:10px;
    transition: .5s;
}

.slider #progress:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.slider #progress:hover::-webkit-slider-thumb{
    outline-color:rgb(56, 56, 56);
    background-color: white;
}

.slider #progress:active{
    background-color: white;
}

.slider #progress:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider #progress::-webkit-slider-thumb{
    appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    outline: 2px solid white;
    /* outline: 2px solid white; */
    /* background-color: rgb(48, 48, 48); */
    /* outline: 2px solid rgba(0, 0, 0, 0.5);
    background-color: white; */
    transition: .5s;
}

#duration{
    color:white;
    font-weight: bold;
}

#volume::-webkit-slider-thumb{
    appearance: none;
    width: 5px;
    height: 5px;
    outline: 2px solid white;
    box-shadow: 0 0 20px 0 black;
    border-radius: 50%;
    background-color: black;
    transition: .5s;
}

#volume:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#volume:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

#volume:hover::-webkit-slider-thumb{
    background-color: white;
    outline-color:rgb(56, 56, 56) ;
}

#volume:active{
    background-color: white;
}

#volume{
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    cursor: pointer;
    margin-right: 10px;
    rotate: 270deg;
    position: absolute;
    left: -2px;
    top: 75px;
    display: none;
    transition: .5s;
}

.volumeButton{
    width: 30px;
    filter: invert();
    cursor: pointer;
    position:absolute;
    left: 10px;
    top: 10px;
    /* background-color: white; */
    transition: .5s;
}

.volumeButton:hover{
    filter: drop-shadow( 0 0 5px rgb(199,199,199)) invert();
}

.volumeButton:active{
    scale: 80%;
}

span::after{
    content: "";
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 50px;
    rotate: 130deg;
    position: absolute;
    left:13px;
    top: 25px;
    z-index: 10;
    cursor: pointer;
}

#o{
    width: 50px;
    height: 50px;
    position: absolute;
    /* background-color: black; */
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.xmark{
    width: 40px;
    height: 40px;
    background-color: rgba(112, 112, 112, 0.312);
    border-bottom-left-radius: 50%;
    border-top-right-radius:12px;
    fill: white;
    transition: .3s;
    display: flex;
    justify-content: center;
    position: absolute;
}

.xmark div{
    width: 15px;
    transform: translateY(6%);
}

#o:hover .xmark{
    background-color: white;
    rotate: 90deg;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:0 ;
    border-top-right-radius:0;
    border-top-left-radius:12px;
    fill: black;
}

#o:active .xmark{
    scale: 80%;
}

.bg1{
    width: 300px;
    height: 300px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 25%;
}

.bg1::after{
    content: "";
    width: 200px;
    height: 200px;
    background-color: rgb(66, 46, 194);
    border-radius: 50%;
    rotate: 45deg;
    position:absolute;
    top: -60%;
    left: -100%;
}

.bg2{
    width: 100px;
    height: 100px;
    background-color: rgb(119, 208, 250);
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 33%;
}

#Audios{
    background: conic-gradient(rgb(255, 211, 129),rgb(255, 139, 139),slateblue,rgb(53, 53, 53));
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
}

#Audios .box{
    width: 220px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Audios .box:hover{
    scale: 95%;
    background-color: whitesmoke;
    color: black;
}

#title{
    width: 280px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
    padding: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    margin-top: 20px;
}

#Audios div img{
    padding: 20px;
    width: 80px;
}

#Audios div p{
    font: bold;
    font-size: large;
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background:linear-gradient(45deg,rgb(138, 255, 154), rgb(0, 191, 255), rgb(0, 2, 90));
}

::-webkit-scrollbar-thumb{
    border: 3px solid rgba(0, 0, 0, 0.5);
    background:linear-gradient(45deg,rgb(138, 255, 154), rgb(0, 191, 255), rgb(0, 2, 90));
}

.scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 12px;
    background: linear-gradient(45deg,rgb(53, 53, 53),rgb(255, 139, 139),slateblue,rgb(53, 53, 53));
}

.scrollbar::-webkit-scrollbar-thumb{
    border: 3px solid rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg,rgb(255, 211, 129),rgb(255, 139, 139),slateblue,rgb(53, 53, 53));
}

#Audios h1{
    position: absolute;
    top:0;
    letter-spacing: 15px;
    color: transparent;
    background: linear-gradient(270deg,rgb(255, 139, 139),slateblue);
    -webkit-background-clip:text;
    background-clip:text ;
    padding: 15px;
    margin-right: -30px;
    
}

#help{
    width: 18%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    padding:3%;
    left: -24%;
    background: rgba(0,0,0,0.5);
    display: table;
    transition: .5s;
}

#help .column h3{
    padding: 5% 10%;
    text-align: center;
    color: white;
}

#help .column h3 i{
    color: cyan;
    font-style: normal;
}

.hoverGlitch{
    width: 100px;
    height: 100px;
    position: absolute;
    right:-30%;
    top: 0;
    bottom: 0;
    margin: auto;
}

#help:hover{left:0;}

#help::after{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -7%;
    bottom: 0;
    top: 0;
    margin: auto;
}

#help::before{
    content: "Help";
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 33px;
    font-size: 1.5rem;
    position: absolute;
    right: -30%;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    border-radius: 40px;
}

.row{
    display: table-row;
}

.column{
    display: table-cell;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-width: 0;
    border-right: 0;
}

.column:last-child{
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

div#help div:nth-child(2).row {
    background-color: rgba(0, 0, 0, 0.5);
}

div#help div:nth-child(2).row h3{
    color: cyan;
}

@media screen and (max-width:1195px) {
    #help{
        width: 20%;
        left: -26%;
     }
     #help:after{
        right: -10%;
     }
     #help:before{
        font-size: 1rem;
        height: 20px;
     }
     .hoverGlitch{
        right: -15%;
     }
}

@media screen and (max-width:1070px){
    #help{
        width: 30%;
        left: -37%;
     }
     #help:after{
        right: -10%;
     }
     #help:before{
        font-size: 1rem;
        height: 20px;
        right: -26%;
     }
     .hoverGlitch{
        right: -15%;
     }
}

@media screen and (max-width:800px) {
    #Audios{
    padding: 20px;
    flex-wrap:wrap;
    height: unset;
    background-attachment:fixed ;
    justify-content: center;
 }
 #Audios h1{
        position: relative;
        width: 100%;
        text-align: center;
}
 #Audios .box{
    width: 250px;
    height: 250px;
 }
 #help{
    width: 50%;
    left: -58%;
 }
 #help:after{
    right: -10%;
 }
 #help:before{
    right: -24%;
 }
 .hoverGlitch{
    right: -15%;
 }
}

@media screen and (max-width:519px) {
     #help::before{
        right: -29%;
     }
}