:root{
    --color-1: rgba(238,64,53,0.8);
    --color-1-empty: rgba(0, 0, 0, 0);

    --color-2: rgba(184, 255, 19, 0.8);
    --color-2-empty: rgba(0, 0, 0, 0);

    --color-3: rgba(24, 59, 255, 0.8);
    --color-3-empty: rgba(0, 0, 0, 0);

    --color-4: rgba(255, 117, 232, 0.8);
    --color-4-empty: rgba(0, 0, 0, 0);

    --color-5: rgba(255, 1, 242, 0.8);
    --color-5-empty: rgba(0, 0, 0, 0);
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas{
    width: 100%;
    height: 100vh;
    background : linear-gradient( 273deg,rgb( 101,70,110),rgba( 10,245,207,0.8 ),rgba(0,0,0,0)70%),
                 linear-gradient( 158deg,rgb( 101,70,110),rgba( 10,245,207,0.8 ),rgba(0,0,0,0)70%),
                 linear-gradient( 126deg,rgb( 101,70,110),rgba( 236,41,234,0.8 ),rgba(0,0,0,0)70%),
                 linear-gradient( 190deg,rgb( 101,70,110),rgba( 104,158,35,0.8 ),rgba(0,0,0,0)70%),
                 linear-gradient( 163deg,rgb( 101,70,110),rgba( 55,31,35,0.8 ),rgba(0,0,0,0)70%);
}

.color-code{
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    color: white;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand{
    top: -50%;
}

h4{
    text-align: left;
    padding: 20px 120px;
    line-height: 50px;
    letter-spacing: 3px;
}

.btn{
    padding: 5px 20px;
    border-radius: 310px;
    border: 0;
    height: 60px;
    letter-spacing: 3px;
    position: absolute;
    bottom: -80px;
    left: 30px;
    cursor: pointer;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    overflow: hidden;
}

.btn:hover{
    filter: invert();
}

button#refresh-btn{
    width: 60px;
    left: 240px;
    transition: .5s;
    padding-left: 25px;
    text-wrap: nowrap;
    text-align: left;
}

button#refresh-btn:hover:after{
    content: "Refresh";
}

button#refresh-btn:hover{
    width: 130px;
}

::selection{
    background: white;
    color: black;
}